body{
	font-size: 20px;
	font-family: cursive;
        text-align: center;
	color: aqua;
	background-image: url("friends.png");
}
.question{
        color: white;
	font-weight: 600;
        text-align: center;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: darkblue;
	color: white;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #38a;
}