body {
    height: 900px;
    min-height: 120vh;
    width: 1000px;
    color: black;
    background-position: 0px;
    background-size: cover;
    margin: 0;
    top: 0;
  }
  h4 {
    color: black;
  }
  
  h3 {
    color: black;
  }
  a {
    color: black;
  }
  h2 {
    color: black;
  }
  h1 {
    color: black;
  }
  
  p {
    color: black;
  }
 
