body {
    background-color: darkblue;
    color: black;
  }
  h4 {
    color: black;
  }
  
  h3 {
    color: black;
  }
  a {
    color: black;
  }
  h2 {
    color: black;
  }
  h1 {
    color: black;
  }
  
  p {
    color: black;
  }
 
  div {
  color: black;
  background-color: darkblue;
  }
