body {
    background-image: url("");
    background-color: darkblue;
    height: 900px;
    min-height: 120vh;
    width: 1000px;
    color: white;
    background-position: 0px;
    background-size: cover;
  }
  h4 {
    color: white;
  }
  
  h3 {
    color: white;
  }
  a {
    color: white;
  }
  h2 {
    color: white;
  }
  h1 {
    color: white;
  }
  
  p {
    color: white;
  }
  body {
    margin: 0;
    top: 0;
  }
