div {
    background-image: url("https://i.pinimg.com/originals/bd/3e/18/bd3e1809c1943aa1e62f679506208009.jpg");
    height: 700px;
    min-height: 120vh;
    width: 100%;
    color: white;
    background-position: 0px;
    background-size: cover;
  }
  h4 {
    color: black;
  }
  
  h3 {
    color: black;
  }
  a {
    color: black;
  }
  h2 {
    color: black;
  }
  h1 {
    color: black;
  }
  
  p {
    color: black;
  }
  body {
    margin: 0;
    top: 0;
  }
  