/* CSS reset */

body, h2 {
  text-align: center;
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: cursive;
    color: black;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: black;
  }
  
  body {
    text-align: center;
    color: black;
    font-family: cursive;
  }
  
  /* Common */
  
  .fix {
    *zoom: 1;
  }
  
  .fix:after {
    display: table;
    clear: both;
    content: '';
    color: black;
  }
  
  /* Home */
  
  .wrap {
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    position:relative;
    color: black;
  }
  
  .logo, #gameArea {
    margin-bottom: 40px;
    color: black;
  }
  
  .ws-area, .ws-words {
    display: inline-block;
    vertical-align: top;
    color: darkblue;
    color: black;
  }
  
  .ws-words {
    margin-left: 20px;
    text-align: left;
    color: black;
    font-family: cursive;
  }
  
  .ws-word {
    margin-bottom: 4px;
    color: black;
  }
  
  .ws-words ::first-letter{
    text-transform : capitalize;
    color: black;
  }
